<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io('http://localhost:3000/');


    </script>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>


    <div id="wrapper">

        <div id="login">
            <h3>WHAT'S YOUR NAME?</h3>
            <input type="text" id="txtUsername">
            <input type="button" value="Đăng ký" id="btnRegister">

        </div>

        <div id="home">
            <div id="left">
                ss
            </div>

            <div id="right">
                df
            </div>
        </div>

    </div>

</body>

</html>