<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

    <div id="wrapper">

        <div id="login">
            <h3>WHAT'S YOUR NAME?</h3>
            <input type="text" id="txtUsername">
            <!-- <input type="button" value="Register" id="btnRegister"> -->
            <button id="btnRegister">Register</button>

        </div>

        <div id="home">
            <div id="left">
                <div id="boxTitle">User Online</div>
                <div id="boxContent">
                    <div>Nguyễn Văn A</div>
                </div>
            </div>

            <div id="right">
                <div id="sayHi">Hello,
                    <span id="currentUser">Teo</span>
                    <input type="button" id="btnLogout" value="Logout">
                </div>

                <div id="listMessage"></div>
                <div id="typing">
                    <div class="chat-bubble">
                        <div class="typing">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                    </div>
                    <span id="span"></span>
                </div>
                <input type="text" id="txtMessage">
                <input type="button" value="send" id="btnSendMessage">
            </div>
        </div>

    </div>

    <script src="main.js"></script>
</body>

</html>